@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid crf-hero d-flex">
    <div class="container d-flex flex-column justify-content-center align-items-sm-stretch align-items-md-center">
        <h1 class="col-sm-12">GET A GRIP</h1>
        <h2>70% OFF</h2>
        <h3 class="lead">THROUGHOUT THE SILLY SEASON</h3>
    </div>
</div>
